<div class="dialog new-company-dialog">
    <div class="header">
        <div *ngIf="!data.firstCompany" class="icon-button" (click)="closeDialog()">
            <button class="icon-button">
                <mat-icon class="icon-base">close</mat-icon>
            </button>
        </div>

        <div class="header-title">
            <p *ngIf="!data.firstCompany" class="title">ساخت شرکت</p>
            <p *ngIf="data.firstCompany" class="title">شروع کار با نرم افزار واسط کلید</p>
        </div>
    </div>

    <div class="content">
        <form class="steps-container" [ngSwitch]="addCompanyStep" [formGroup]="addCompanyForm">
            <div *ngSwitchCase="'welcome'" class="step-welcome">
                <div class="welcome__icon">
                    <mat-icon class="material-icons-outlined">apartment</mat-icon>
                </div>
                <h2 class="welcome__title">
                    <ng-container *ngIf="data.firstCompany">شروع کار با کلید</ng-container>
                    <ng-container *ngIf="!data.firstCompany">ایجاد شرکت جدید</ng-container>
                </h2>
                <p class="welcome__content">  
                    <ng-container *ngIf="data.firstCompany">
                        برای شروع کار با نرم افزار واسط کلید و خیالی راحت از بابت مالیات ابتدا اولین شرکت خود را ایجاد کنید
                    </ng-container>
                    <ng-container *ngIf="!data.firstCompany">
                        به راحتی شرکت جدید ایجاد کنید
                    </ng-container>
                </p>
                <button type="button" mat-ripple class="primary-button block-button" (click)="setStep('base')">شروع</button>
            </div>
            <div *ngSwitchCase="'base'" class="step-base">
                <h2 class="add-company-field-title">اطلاعات پایه</h2>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>نام شرکت</mat-label>
                    <input matInput formControlName="companyName" type="text" />
                    <mat-error *ngIf="addCompanyForm.get('companyName')?.invalid && addCompanyForm.get('companyName')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>توضیحات شرکت</mat-label>
                    <textarea matInput formControlName="companyDesc" rows="3"></textarea>
                    <mat-error *ngIf="addCompanyForm.get('companyDesc')?.invalid && addCompanyForm.get('companyDesc')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <div class="add-company-buttons-container">
                    <button type="button" mat-ripple class="stroked-button block-button" (click)="setStep('welcome')">بازگشت</button>
                    <button type="button" mat-ripple class="primary-button block-button" (click)="setStep('information')">ادامه</button>
                </div>
            </div>
            <div *ngSwitchCase="'information'" class="step-information">
                <h2 class="add-company-field-title">مشخصات تماس</h2>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>کد پستی</mat-label>
                    <input matInput formControlName="companyZipCode" type="number" maxlength="11" />
                    <mat-error *ngIf="addCompanyForm.get('companyZipCode')?.invalid && addCompanyForm.get('companyZipCode')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>آدرس و مکان</mat-label>
                    <textarea matInput formControlName="companyAddress" rows="1"></textarea>
                    <mat-error *ngIf="addCompanyForm.get('companyAddress')?.invalid && addCompanyForm.get('companyAddress')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>تلفن</mat-label>
                    <input matInput formControlName="companyTel" type="number" maxlength="11" />
                    <mat-error *ngIf="addCompanyForm.get('companyTel')?.invalid && addCompanyForm.get('companyTel')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>کد شعبه</mat-label>
                    <input matInput formControlName="companyBranchNo" type="number" />
                    <mat-error *ngIf="addCompanyForm.get('companyBranchNo')?.invalid && addCompanyForm.get('companyBranchNo')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <div class="add-company-buttons-container">
                    <button type="button" mat-ripple class="stroked-button block-button" (click)="setStep('base')">بازگشت</button>
                    <button type="button" mat-ripple class="primary-button block-button" (click)="setStep('tax')">ادامه</button>
                </div>
            </div>
            <div *ngSwitchCase="'tax'" class="step-tax">
                <h2 class="add-company-field-title">مالیات و اطلاعات شخص</h2>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>شناسه یکتا مالیاتی</mat-label>
                    <input matInput formControlName="taxIdentity" type="text" />
                    <mat-error *ngIf="addCompanyForm.get('taxIdentity')?.invalid && addCompanyForm.get('taxIdentity')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>کلید خصوصی</mat-label>
                    <input matInput formControlName="privateKey" type="text" />
                    <mat-error *ngIf="addCompanyForm.get('privateKey')?.invalid && addCompanyForm.get('privateKey')?.invalid">
                        این فیلد الزامیست
                    </mat-error>
                </mat-form-field>
                <mat-checkbox formControlName="companyStatus" [disabled]="true" class="example-margin">فعال بودن شرکت</mat-checkbox>                
                <div class="add-company-buttons-container">
                    <button type="button" mat-ripple class="stroked-button block-button" (click)="setStep('information')">بازگشت</button>
                    <button type="button" mat-ripple class="primary-button block-button" (click)="onAddCompany()">ایجاد شرکت</button>
                </div>
            </div>
        </form>
    </div>
</div>