<div class="panel-sidebar" [ngClass]="{'active': isExpanded, 'not-active': !isExpanded, 'mobile-hidden': !isExpanded}">
    <div class="panel-sidebar_top">
        <div class="panel-sidebar_logo" [mat-menu-trigger-for]="userMenu" mat-ripple>
            <div class="person-icon">
                <mat-icon>person_outline</mat-icon>
            </div>
            <span *ngIf="isExpanded">
                <a class="pointer">نرم افزار واسط کلید</a>
            </span>
        </div>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item>
                <div class="home-button">
                    <mat-icon class="material-icons-outlined">home</mat-icon>
                    <a routerLink="/">بازگشت به صفحه اصلی</a>
                </div>
            </button>
            <button (click)="onLogout()" mat-menu-item>
                <div class="logout-button">
                    <mat-icon>logout</mat-icon>
                    خروج از حساب کاربری
                </div>
            </button>
        </mat-menu>
    </div>
    <ul class="panel-sidebar__menu">
        <li class="menu-title">منو اصلی</li>
        <li class="nav-item accordion" [ngClass]="{'opened': currentModule === 'company'}" #companyAccordion (click)="toggleAccordion(companyAccordion)"
            [mat-menu-trigger-for]="!isExpanded ? companyMenu : null">
            <div class="accordion-header" matRipple>
                <div class="accordion-title">
                    <div class="nav-item__icon">
                        <mat-icon>apartment_outline</mat-icon>
                    </div>
                    <span *ngIf="isExpanded" class="nav-item__title unselectable">شرکت</span>
                </div>
                <div *ngIf="isExpanded" class="accordion-icon">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <ul class="accordion-content" (click)="$event.stopPropagation()">
                <li matRipple class="unselectable" (click)="onAddCompany()">ایجاد شرکت جدید</li>
                <li matRipple class="unselectable" (click)="onReSelectCompany()">تغییر شرکت فعال</li>
                <li matRipple class="unselectable"><a routerLink="/software/company">لیست تمام شرکت ها</a></li>
            </ul>
        </li>
        <mat-menu #companyMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onAddCompany()">ایجاد شرکت جدید</button>
            <button mat-menu-item (click)="onReSelectCompany()">تغییر شرکت فعال</button>
            <button mat-menu-item><a routerLink="/software/company">لیست تمام شرکت ها</a></button>
        </mat-menu>

        <li class="nav-item accordion" [ngClass]="{'opened': currentModule === 'person'}" #contactAccordion (click)="toggleAccordion(contactAccordion)"
            [mat-menu-trigger-for]="!isExpanded ? contactMenu : null">
            <div class="accordion-header" matRipple>
                <div class="accordion-title">
                    <div class="nav-item__icon">
                        <mat-icon>badge_outline</mat-icon>
                    </div>
                    <span *ngIf="isExpanded" class="nav-item__title unselectable">طرف حساب</span>
                </div>
                <div *ngIf="isExpanded" class="accordion-icon">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <ul class="accordion-content" (click)="$event.stopPropagation()">
                <li matRipple class="unselectable" (click)="onAddPerson()">ایجاد طرف حساب جدید</li>
                <li matRipple class="unselectable"><a routerLink="/software/person">لیست تمام طرف حساب ها</a></li>
            </ul>
        </li>
        <mat-menu #contactMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onAddPerson()">ایجاد طرف حساب جدید</button>
            <button mat-menu-item><a routerLink="/software/person">لیست تمام طرف حساب ها</a></button>
        </mat-menu>

        <li class="nav-item accordion" [ngClass]="{'opened': currentModule === 'product'}" #productAccordion (click)="toggleAccordion(productAccordion)"
            [mat-menu-trigger-for]="!isExpanded ? productMenu : null">
            <div class="accordion-header" matRipple>
                <div class="accordion-title">
                    <div class="nav-item__icon">
                        <mat-icon>shopping_cart_outline</mat-icon>
                    </div>
                    <span *ngIf="isExpanded" class="nav-item__title unselectable">کالا</span>
                </div>
                <div *ngIf="isExpanded" class="accordion-icon">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <ul class="accordion-content" (click)="$event.stopPropagation()">
                <li matRipple class="unselectable" (click)="onAddProduct()">ایجاد کالای جدید</li>
                <li matRipple class="unselectable">لیست تمام کالا ها</li>
            </ul>
        </li>
        <mat-menu #productMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onAddProduct()">ایجاد کالای جدید</button>
            <button mat-menu-item>لیست تمام کالا ها</button>
        </mat-menu>

        <li class="nav-item accordion" [ngClass]="{'opened': currentModule === 'invoice'}" #factorAccordion (click)="toggleAccordion(factorAccordion)"
            [mat-menu-trigger-for]="!isExpanded ? factor : null">
            <div class="accordion-header" matRipple>
                <div class="accordion-title">
                    <div class="nav-item__icon">
                        <mat-icon>payments_outline</mat-icon>
                    </div>
                    <span *ngIf="isExpanded" class="nav-item__title unselectable">فاکتور</span>
                </div>
                <div *ngIf="isExpanded" class="accordion-icon">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <ul class="accordion-content" (click)="$event.stopPropagation()">
                <li matRipple class="unselectable">ایجاد فاکتور جدید</li>
                <li matRipple class="unselectable">لیست تمام فاکتور ها</li>
            </ul>
        </li>
        <mat-menu #factor="matMenu" xPosition="before">
            <button mat-menu-item>ایجاد فاکتور جدید</button>
            <button mat-menu-item>لیست تمام فاکتور ها</button>
        </mat-menu>

        <li class="nav-item accordion" [ngClass]="{'opened': currentModule === 'unit'}" #unitAccordion (click)="toggleAccordion(unitAccordion)"
            [mat-menu-trigger-for]="!isExpanded ? unitMenu : null">
            <div class="accordion-header" matRipple>
                <div class="accordion-title">
                    <div class="nav-item__icon">
                        <mat-icon>bar_chart</mat-icon>
                    </div>
                    <span *ngIf="isExpanded" class="nav-item__title unselectable">واحد</span>
                </div>
                <div *ngIf="isExpanded" class="accordion-icon">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <ul class="accordion-content" (click)="$event.stopPropagation()">
                <li matRipple class="unselectable">ایجاد واحد جدید</li>
                <li matRipple class="unselectable">لیست تمام واحد ها</li>
            </ul>
        </li>
        <mat-menu #unitMenu="matMenu" xPosition="before">
            <button mat-menu-item>ایجاد واحد جدید</button>
            <button mat-menu-item>لیست تمام واحد ها</button>
        </mat-menu>
    </ul>
</div>

<div class="main-content">
    <div class="panel-header">
        <div (click)="isExpanded = !isExpanded" class="pointer icon" matRipple>
            <mat-icon *ngIf="!isExpanded">menu_open</mat-icon>
            <mat-icon *ngIf="isExpanded">menu_closed</mat-icon>
        </div>
        <button matRipple [matMenuTriggerFor]="createMenu" class="create-button">ایجاد کردن
            <mat-icon>keyboard_arrow_down</mat-icon></button>
        <mat-menu #createMenu="matMenu">
            <button mat-menu-item (click)="onAddCompany()">شرکت</button>
            <button mat-menu-item (click)="onAddPerson()">طرف حساب</button>
            <button mat-menu-item (click)="onAddProduct()">کالا</button>
            <button mat-menu-item>فاکتور</button>
        </mat-menu>
        <div class="search-box">
            <form class="search-form" (ngSubmit)="onSearch()">
                <input placeholder="جستجو کردن..." type="text" class="search" [(ngModel)]="searchQuery"
                    name="search-input">
                <button class="icon-light search-icon">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>
        <div class="theme-select" mat-ripple [mat-menu-trigger-for]="themeMenu">
            <ng-container *ngIf="currentTheme === 'default'">پیش فرض</ng-container>
            <ng-container *ngIf="currentTheme === 'dark'">تاریک</ng-container>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <mat-menu #themeMenu="matMenu">
            <button mat-menu-item (click)="changeTheme('default')">حالت پیشفرض</button>
            <button mat-menu-item (click)="changeTheme('dark')">حالت تاریک</button>
        </mat-menu>
        <div class="pointer icon" matRipple (click)="toggleFullScreen()">
            <mat-icon *ngIf="fullscreen" class="material-icons-outlined">fullscreen</mat-icon>
            <mat-icon *ngIf="!fullscreen" class="material-icons-outlined">fullscreen_exit</mat-icon>
        </div>
        <div class="notification-icon pointer">
            <mat-icon class="material-icons-outlined" matBadge="2" matBadgeColor="warn">notifications</mat-icon>
        </div>
        <div class="icon pointer settings-icon" matRipple>
            <mat-icon>settings</mat-icon>
        </div>
    </div>
    <div class="panel-content">
        <ng-content></ng-content>
    </div>
</div>