.skeleton-table {
    background-color: var(--base-color);
    display: flex;
    align-items: stretch;

    .skeleton-table-column {
        flex: 1;

        .skeleton-table-title {
            padding: 16px 16px;
            color: var(--text-primary-color);
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
            border-bottom: 1px solid var(--border-color-medium);
        }
        
        .skeleton-table-content {
            padding: 16px 16px;
        }
    }
}