@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: 100;
	src: url('peyda/woff2/PeydaWeb-Thin.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-Thin.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: 200;
	src: url('peyda/woff2/PeydaWeb-ExtraLight.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-ExtraLight.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: 300;
	src: url('peyda/woff2/PeydaWeb-Light.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-Light.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: 500;
	src: url('peyda/woff2/PeydaWeb-Medium.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-Medium.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: 600;
	src: url('peyda/woff2/PeydaWeb-Semibold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-Semibold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: 800;
	src: url('peyda/woff2/PeydaWeb-ExtraBold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-ExtraBold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: 900;
	src: url('peyda/woff2/PeydaWeb-Black.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-Black.woff') format('woff')
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: bold;
	src: url('peyda/woff2/PeydaWeb-Bold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-Bold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: PeydaWeb;
	font-style: normal;
	font-weight: normal;
	src: url('peyda/woff2/PeydaWeb-Regular.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('peyda/woff/PeydaWeb-Regular.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Vazirmatn;
	src: url('vazir/Vazirmatn-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}