@import "./variables.scss";

button {
    border: none;
    outline: none;
    background: unset;
}

.block-button {
    width: 100%;
}

.primary-button {
    min-width: 8rem;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--base-color);
    cursor: pointer;
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    height: 36px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: color-mix(
            in srgb,
            var(--primary-color),
            var(--base-opposite-color) 6%
        ) !important;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    .button-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transition: all 0.2s;
    }

    &.button-loading {
        opacity: 1 !important;
    }

    &.button-loading .button-content {
        visibility: hidden;
        opacity: 0;
    }

    &.button-loading::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid transparent;
        border-top-color: var(--base-color);
        border-radius: 50%;
        animation: loading-spinner 1s ease infinite;
        transition: all 0.2s;
    }
}

@keyframes loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.stroked-button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 3px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    height: 36px;
    cursor: pointer;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: color-mix(
            in srgb,
            var(--base-color),
            var(--primary-color) 8%
        ) !important;
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.flat-button {
    background-color: var(--primary-color);
    color: var(--base-color);
    font-size: 0.75rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    height: 36px;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: var(--regular-button-hover);
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.raised-button {
    min-width: 104px;
    border-radius: 3px;
    color: var(--primary-color);
    box-shadow: 0 1px 1px var(--shadow-solid);
    background-color: var(--base-color);
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    height: 36px;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: color-mix(
            in srgb,
            var(--base-color),
            var(--primary-color) 4%
        ) !important;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.text-button {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 0.75rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    height: 36px;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: color-mix(
            in srgb,
            var(--base-color),
            var(--primary-color) 8%
        ) !important;
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.stroked-icon-button {
    border-radius: 3px;
    background-color: var(--base-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color-medium);
    cursor: pointer;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: color-mix(
            in srgb,
            var(--base-color),
            var(--primary-color) 8%
        ) !important;
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.flat-icon-button {
    border-radius: 3px;
    background-color: var(--base-color);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: color-mix(
            in srgb,
            var(--base-color),
            var(--primary-color) 8%
        ) !important;
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.icon-button {
    border-radius: 50%;
    background-color: transparent;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: color-mix(
            in srgb,
            transparent,
            var(--base-opposite-color) 4%
        ) !important;
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.error-button {
    background-color: transparent;
    color: var(--error-button-text);
    font-size: 0.75rem;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    height: 36px;

    &:enabled:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
        background-color: var(--error-button-hover);
    }

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}
