@import "./variables";

$headerFooterHeight: 4rem;
$headerFooterMargin: 0.25rem;
$headerFooterMarginBottom: 0.25rem;
$headerFooterPadding: 0 0.625rem;

$spaceFromTopAndBottom: 4rem;
$maxHeightBreakPoint: 75rem;
$dialogMaxHeight: 60rem;

.mat-mdc-dialog-container {
    height: auto !important;
    padding: 0 !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    color: var(--text-primary-color);
}

.mat-mdc-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
}

.mobile-like-dialog {
    height: auto;
    max-height: 90% !important;
}

.tab-friendly-dialog {
    min-height: 90% !important;

    .dialog .content {
        padding: 0 !important;
        border: none !important;
    }
}

.full-screen-dialog {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;

    .mdc-dialog__surface,
    .mat-mdc-dialog-container {
        border-radius: 0 !important;
    }
}

// Dialog border radius
.transform-dialog,
.tab-friendly-dialog {
    .mdc-dialog__surface,
    .mat-mdc-dialog-container {
        border-radius: 5px !important;
    }
}

.dialog > div {
    background-color: var(--base-color);
}

.dialog {
    height: 100%;
    background-color: var(--background-color);

    .header {
        width: 100%;
        height: $headerFooterHeight;
        display: flex;
        align-items: center;
        padding: $headerFooterPadding;
        margin-bottom: $headerFooterMargin;
        border-bottom: 1px solid var(--border-color-medium);

        .close-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .mat-bottom {
                padding: 0 !important;
                min-width: none;
            }
        }

        .header-title {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-inline-start: 0.5rem;

            .title {
                font-size: 1.125rem;
                font-weight: bold;
                color: var(--text-primary-color);
            }
            .sub-title {
                font-size: 0.75rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: var(--text-secondary-color);
            }
        }

        .not-saved {
            font-size: 0.75rem;
            color: var(--text-tertiary-color);
            white-space: nowrap;
            margin-inline-start: 0.5rem;
        }

        .clear-all {
            font-size: 0.75rem;
            color: var(--text-event-primary);
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .content {
        padding: 1rem 1.5rem;
        border-top: 1px solid var(--border-color-medium);
        border-bottom: 1px solid var(--border-color-medium);
        background-color: var(--base-color);
        height: calc(100% - 2 * ($headerFooterMargin + $headerFooterHeight));
        overflow: auto;

        .subject {
            font-weight: bold;
            font-size: 0.875rem;
        }

        .description {
            font-size: 0.75rem;
            color: var(--text-tertiary-color);
        }

        mat-form-field {
            width: 100%;

            .mat-mdc-form-field-hint-wrapper,
            .mat-mdc-form-field-error-wrapper {
                min-height: 24px;
            }
        }
    }

    .footer {
        margin-top: $headerFooterMarginBottom;
        padding: $headerFooterPadding;
        height: $headerFooterHeight;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-top: 1px solid var(--border-color-medium);
        display: flex;
        justify-content: flex-end;

        button {
            min-width: 8rem !important;
            height: 2rem !important;
            font-size: 0.75rem !important;
        }
    }
}

.transform-dialog {
    .header {
        margin-bottom: 0 !important;
        border-bottom: 0 !important;
    }

    .content {
        overflow: auto !important;
        height: calc(100% - 2 * ($headerFooterHeight)) !important;
    }

    .footer {
        margin-top: 0 !important;
        border-top: 0 !important;
    }
}

@media only screen and (max-width: $mobile-break-point) {
    .mat-mdc-dialog-container {
        border-radius: 0 !important;
    }

    .mobile-like-dialog {
        max-width: 100% !important;
        max-height: 100% !important;
        width: 100% !important;
        height: 100% !important;
    }

    .dialog .footer button {
        min-width: none !important;
    }
}

@media only screen and (min-height: $maxHeightBreakPoint) {
    .tab-friendly-dialog {
        min-height: ($maxHeightBreakPoint - $spaceFromTopAndBottom) !important;
    }
}
