.icon-base {
    filter: var(--icon-base);
}

.icon-medium {
    filter: var(--icon-medium);
}

.icon-light {
    filter: var(--icon-light);
}

.icon-primary {
    filter: var(--icon-primary);
}

.icon-accent {
    filter: var(--icon-accent);
}

.icon-white {
    filter: var(--icon-white);
}

.icon-green {
    filter: var(--icon-green);
}

.icon-red {
    filter: var(--icon-red);
}

