@import "./variables";

// #region Mat Bottom Sheet
.mat-bottom-sheet-container {
    padding: 0 !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: var(--base-color);
}
// #endregion

// #region Mat Toolbar
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
    font: unset !important;
}

// #endregion

// #region Mat Expansion
[dir="rtl"] .mat-expansion-panel-header-title,
[dir="rtl"] .mat-expansion-panel-header-description {
    margin-left: 0 !important;
}

.mat-expansion-panel {
    position: unset !important;
    box-shadow: none !important;
    border: 1px solid var(--border-color-medium);
    background: var(--base-color) !important;

    .mat-expansion-panel-header {
        height: 4rem;

        .mat-expansion-panel-header-title {
            font-weight: bold;
            font-size: 1rem;
            color: var(--text-primary-color);
        }

        .mat-expansion-indicator {
            filter: var(--icon-base);
        }
    }

    .mat-expansion-panel-body {
        padding: 0 0.5rem;
    }
}
// #endregion

// #region Mat Badge
[dir="rtl"]
    .mat-badge-small.mat-badge-overlap.mat-badge-after
    .mat-badge-content {
    right: -3px !important;
}

.mat-badge-small.mat-badge-above .mat-badge-content {
    top: -3px !important;
}

.mat-badge-small .mat-badge-content {
    width: 8px !important;
    height: 8px !important;
}
// #endregion

// #region Mat Divider
.mat-divider {
    border-color: var(--border-color-medium) !important;
}

.mat-divider[aria-orientation="horizontal"] {
    width: 100% !important;
}
// #endregion

// #region Mat Drawer
.mat-drawer-content {
    overflow: hidden !important;
}

.mat-drawer-container {
    // Note: 88px is the header height
    height: 100%;
    min-height: calc(100dvh - 88px);
    color: unset;
    background-color: transparent !important;
}

.mat-drawer {
    width: 100%;
}

.mat-drawer-inner-container {
    background-color: var(--drawer-background) !important;
}
// #endregion

// #region Mat Dialog
.mdc-dialog,
.mdc-dialog__scrim {
    height: unset !important;
    max-height: unset !important;
    min-height: unset !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface,
.mat-mdc-dialog-surface .mdc-dialog__surface {
    overflow: hidden !important;
}
// #endregion Mat Dialog

// #region Mat Tab
.mat-mdc-tab,
.mdc-tab__content,
.mat-mdc-tab-link {
    letter-spacing: unset !important;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
    > .mat-mdc-tab-header
    .mat-mdc-tab,
.mat-mdc-tab-link-container {
    flex-grow: 0 !important;
    height: 100% !important;
}

.mdc-tab {
    opacity: 0.6;
}

.mat-mdc-tab-link {
    min-width: unset !important;
}

.mdc-tab[aria-selected="true"] {
    opacity: 1 !important;
    font-weight: bold !important;
    color: var(--text-event-primary) !important;

    .mdc-tab__content,
    .mdc-tab__text-label {
        opacity: 1 !important;
        color: var(--text-event-primary) !important;
    }
}

.mdc-tab__text-label {
    transition: 0 !important;
}

.mat-mdc-tab .mdc-tab__text-label,
.mdc-tab,
.mat-mdc-tab-link .mdc-tab__text-label {
    color: var(--text-secondary-color) !important;
}

.mat-mdc-tab-body-wrapper {
    height: 100% !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline,
.mat-mdc-tab-link .mdc-tab-indicator__content--underline {
    height: 3px !important;
    border-color: var(--text-event-primary) !important;
    background-color: var(--text-event-primary) !important;
}

.mat-mdc-tab-labels {
    height: 45px !important;
    padding: 0 0.5rem !important;
}

.mat-mdc-tab-group {
    width: 100% !important;
    height: 100% !important;
}
// #endregion Mat Tab

// #region Mat Menu
.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.mat-mdc-menu-content button {
    width: 100%;
    font-size: 0.875rem !important;
    height: 2rem !important;
    min-height: 2rem !important;
    display: flex;
    align-items: center;
    color: var(--text-primary-color) !important;
    cursor: pointer !important;

    img {
        margin-inline-end: 0.5rem;
    }
}

.mat-mdc-menu-content button,
.mat-mdc-menu-item-text {
    font-size: 0.875rem !important;
    color: var(--text-primary-color) !important;
}

.mat-mdc-menu-panel {
    min-height: auto !important;
    background: var(--base-color) !important;
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    letter-spacing: unset !important;
}

// #endregion Mat Menu

// #region Mat Select
mat-select:not(mat-form-field mat-select) {
    padding: 9px 16px !important;
    border-radius: 20px !important;
    // background-color: var(--background-color) !important;

    &:focus,
    &:focus-within,
    &:focus-visible,
    &:hover {
        padding: 8px 15px !important;
        border: 1px solid var(--border-color-medium);
        box-shadow: var(--shadow-solid);
    }
}

div.mat-mdc-select-panel {
    min-width: 112px !important;
    padding: 0 !important;
    color: var(--text-primary-color) !important;
    box-shadow: 0px 2px 3px var(--shadow-strong) !important;
    background-color: var(--background-color-light) !important;
}

.mat-mdc-option:not(:last-child) {
    border-bottom: 1px solid var(--border-color-medium) !important;
}

.mat-mdc-select-trigger {
    height: 1.125rem !important;
}

.mat-pseudo-checkbox {
    display: none !important;
}

.mat-mdc-select-min-line {
    font-size: 0.75rem;
    color: inherit;
}

.mat-mdc-select-placeholder {
    color: unset !important;
}

.mat-mdc-select-panel {
    .mat-mdc-option {
        font-size: 0.75rem !important;
        min-height: 2.5rem !important;
        color: var(--text-primary-color) !important;
        background-color: var(--select-background) !important;
    }
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: var(--auto-complete-hover) !important;
}

.mat-mdc-option-active:not(.mdc-list-item--disabled) {
    background-color: var(--auto-complete-hover) !important;
}

.mat-mdc-option[aria-selected="true"] {
    background-color: var(--selected-background-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: var(--input-border) !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
    letter-spacing: 0 !important;
}

.mdc-checkbox:hover
    .mdc-checkbox__native-control:checked
    ~ .mat-mdc-checkbox-ripple
    .mat-ripple-element {
    background-color: var(--primary-color) !important;
}

.mdc-checkbox
    .mdc-checkbox__native-control:focus:checked
    ~ .mdc-checkbox__ripple {
    background-color: var(--primary-color) !important;
}

.mat-mdc-select.refer-to .mat-mdc-select-min-line {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: var(--primary-color) !important;
}
// #endregion Mat Select & Option

// #region Mat AutoComplete
div.mat-mdc-autocomplete-panel {
    padding: 0 !important;
    background-color: var(--background-color-light) !important;

    .mdc-list-item__primary-text {
        font-size: 1rem !important;
        color: var(--text-primary-color) !important;
        margin: 0;
        width: 100%;
    }
}
// #endregion Mat AutoComplete

// #region Mat chip
mat-chip-row {
    margin: 4px !important;
    height: 1.5rem !important;
    min-height: 1.5rem !important;
    font-size: 0.625rem !important;
    color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
}

.mat-mdc-standard-chip {
    min-height: 36px;
    border-radius: 20px;
}

.mat-mdc-chip {
    overflow: hidden;
    font-size: 0.75rem !important;
    cursor: pointer !important;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.mat-mdc-chip.mat-mdc-standard-chip {
    font-size: 0.75rem !important;
    color: var(--text-secondary-color) !important;
    background-color: var(--chip-background) !important;

    .remove-chip-icon {
        padding-inline-start: 1rem !important;

        img {
            width: 8px;
            height: 8px;
        }
    }

    &:focus,
    &:focus-within,
    &:focus-visible {
        box-shadow: 0px 2px 1px -1px var(--shadow-strong),
            0px 1px 1px 0px var(--shadow-strong),
            0px 1px 3px 0px var(--shadow-strong) !important;
    }
}

.mat-mdc-chip.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--selected-background-color) !important;

    .mat-mdc-select-value {
        color: var(--primary-color) !important;
    }

    .mat-mdc-select-arrow {
        color: var(--primary-color) !important;
    }

    .mdc-evolution-chip__text-label .mat-mdc-chip-action-label {
        color: var(--primary-color) !important;
    }
}

.mat-mdc-chip.mat-mdc-standard-chip::after {
    background: transparent !important;
}

.mat-mdc-select-arrow,
.mat-mdc-select {
    color: unset !important;
}

.mdc-evolution-chip__graphic {
    display: none !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

[dir="rtl"]
    .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
    .mdc-evolution-chip__action--primary,
.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
    .mdc-evolution-chip__action--primary[dir="rtl"] {
    padding-left: 0 !important;
}

[dir="ltr"]
    .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
    .mdc-evolution-chip__action--primary,
.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
    .mdc-evolution-chip__action--primary[dir="ltr"] {
    padding-right: 0 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
    .mdc-evolution-chip__text-label {
    color: unset !important;
    font-size: 0.75rem !important;
}

.mdc-label {
    color: var(--base-opposite-color) !important;
}
// #endregion Mat chip

// #region Mat Form Field
.mdc-text-field--outlined.mdc-text-field--disabled .mdc-floating-label,
.mdc-text-field--outlined.mdc-text-field--disabled
    .mdc-floating-label--float-above,
input:disabled::placeholder {
    color: var(--input-placeholder-disable) !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
    font-size: 0.75rem;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    // border-radius: 5px 0 0 5px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
    .mdc-notched-outline__notch {
    border-left: none !important;
    border-right: none !important;
}

.mat-mdc-form-field-infix {
    min-height: 40px;
}

.mat-mdc-text-field-wrapper {
    background-color: var(--base-color);
    border-radius: 5px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 8px;
    padding-bottom: 7px;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    font-size: 12px;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 19px;
}

.mat-mdc-form-field
    .mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    font-size: 12px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    --mat-mdc-form-field-label-transform: translateY(-26.75px)
        scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
    transform: var(--mat-mdc-form-field-label-transform);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    font-size: 0.75rem;
    color: var(--text-primary-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: var(--text-primary-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__leading {
    // border-radius: 0 5px 5px 0 !important;
    border-end-start-radius: 5px;
    border-start-start-radius: 5px;
}

/* Change the border & background */
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: var(--border-color) !important;
    border-width: 1px !important;
}

/* Change the border focused color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--invalid
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--invalid
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--invalid
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: var(--primary-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--invalid
    ).mdc-text-field--focused
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    color: var(--primary-color) !important;
    font-weight: bold !important;
}

/* Change the border errored color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid
    .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid
    .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid
    .mdc-notched-outline__trailing {
    border-color: var(--input-border-error) !important;
}

/* Change the border hover color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--invalid
    ):not(.mdc-text-field--focused):hover
    .mdc-notched-outline
    .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--invalid
    ):not(.mdc-text-field--focused):hover
    .mdc-notched-outline
    .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
        .mdc-text-field--invalid
    ):not(.mdc-text-field--focused):hover
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: var(--border-color-strong) !important;
}

.mat-mdc-form-field-error {
    font-weight: 700;
    font-size: 0.625rem;
    color: var(--red-error);
}

.mat-mdc-form-field-hint {
    font-size: 0.625rem;
    color: var(--text-tertiary-color);
}

.mat-mdc-form-field-icon-prefix,
.mat-mdc-form-field-icon-suffix {
    padding: 0 8px !important;
}

/* Change input placeholder color */
input::placeholder {
    font-size: 0.75rem;
    color: var(--input-placeholder) !important;
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-text-field__input::placeholder {
    color: var(--text-error-color) !important;
}

/* Change input label error color */
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-floating-label,
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: var(--error-color) !important;
}
// #endregion

// #region Mat Radio Button
.mat-mdc-radio-button.mat-accent .mdc-radio__inner-circle,
.mat-mdc-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-mdc-radio-button.mat-accent.mat-mdc-radio-checked
    .mat-radio-persistent-ripple,
.mat-mdc-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    color: var(--primary-color) !important;
}

.mat-mdc-radio-button.mat-accent .mdc-radio__background {
    display: block !important;
}

.mat-mdc-radio-button.mat-accent .mdc-radio__outer-circle {
    border-color: var(--text-primary-color) !important;
}

.mat-mdc-radio-button.mat-accent.mat-radio-disabled .mdc-radio__outer-circle {
    border-color: var(--text-tertiary-color) !important;
}

.mat-mdc-radio-button.mat-accent.mat-mdc-radio-checked
    .mdc-radio__outer-circle {
    border-color: var(--primary-color) !important;
}

.mat-mdc-radio-button
    .mdc-radio
    .mdc-radio__native-control:enabled
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    border-color: var(--primary-color) !important;
}

.mat-mdc-radio-button .mdc-radio--disabled ~ .mdc-label,
.mat-mdc-radio-button .mdc-radio--disabled ~ .mdc-label * {
    color: var(--text-tertiary-color) !important;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element,
.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
    background-color: var(--primary-color) !important;
}
// #endregion

// #region Mat Checkbox
.mat-mdc-checkbox {
    display: flex !important;
    width: auto;
    height: 32px;
}

.mat-mdc-checkbox .mdc-form-field {
    width: auto;
    height: 32px;
}

.mat-mdc-checkbox label {
    line-height: 15px;
}

.mdc-checkbox {
    flex: 0 0 16px !important;
    width: 16px !important;
    height: 16px !important;
    padding: 8px !important;
    margin: 0 !important;
}

.mat-mdc-checkbox-touch-target {
    height: 32px !important;
    width: 32px !important;
}

.mdc-checkbox .mdc-checkbox__native-control {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 32px !important;
    height: 32px !important;
}

.mdc-checkbox .mdc-checkbox__background {
    display: flex !important;
    transform: scale(0.8888);
    top: 22% !important;
    left: 22% !important;
}

.mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
        [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    border-color: var(--border-color-strong) !important;
    background-color: transparent;
}

.mat-mdc-checkbox.mat-checkbox-indeterminate.mat-accent
    .mat-checkbox-background,
.mat-mdc-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--primary-color) !important;
}

.mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background,
.mdc-checkbox
    .mdc-checkbox__native-control:enabled:indeterminate
    ~ .mdc-checkbox__background,
.mdc-checkbox
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
    ~ .mdc-checkbox__background {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

.mdc-checkbox
    .mdc-checkbox__native-control:enabled
    ~ .mdc-checkbox__background
    .mdc-checkbox__checkmark {
    color: var(--base-color) !important;
}

.mdc-checkbox
    .mdc-checkbox__native-control[disabled]:checked
    ~ .mdc-checkbox__background,
.mdc-checkbox
    .mdc-checkbox__native-control[disabled]:indeterminate
    ~ .mdc-checkbox__background,
.mdc-checkbox
    .mdc-checkbox__native-control[data-indeterminate="true"][disabled]
    ~ .mdc-checkbox__background {
    border-color: transparent;
    background-color: color-mix(
        in srgb,
        var(--primary-color),
        var(--base-color) 30%
    ) !important;
}

.mat-mdc-checkbox.mdc-checkbox--disabled .mdc-label {
    color: var(--text-tertiary-color) !important;
}

.mdc-checkbox
    .mdc-checkbox__native-control[disabled]:not(:checked):not(
        :indeterminate
    ):not([data-indeterminate="true"])
    ~ .mdc-checkbox__background {
    border-color: var(--border-color-medium) !important;
    background-color: transparent;
}

.mat-mdc-checkbox-checked .mdc-label {
    font-weight: bold;
}

// #endregion

// #region Mat Progress
.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--primary-color) !important;
}
// #endregion

.block-field {
    width: 100%;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--primary-color) !important;
}