@import "./variables";

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

ol, ul, dl {
  margin: 0 !important;
}

input {
  background-color: var(--input-background);
}