.auth-auth-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        background-image: url("../../../assets/images/background-pattern.jpg");
        background-repeat: repeat;
        background-size: 200px 200px;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        z-index: -1;
    }

    .auth-auth-form {
        background-color: #ffffff;
        width: 360px;
        max-height: 85vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 25px 35px;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
        .columns {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: underline;
                color: var(--primary-color);
                font-size: 14px;
            }
        }

        .submit-button {
            margin-top: 40px;
            font-size: 14px;
        }

        .forget-password {
            margin-top: 10px;
            font-size: 14px;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 36px;
                height: 36px;
            }

            h2 {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 0;
                color: var(--text-primary-color);
            }
        }

        .auth-title {
            margin-top: 25px;

            h3 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 5px;
                color: var(--text-primary-color);
            }

            p {
                color: var(--text-secondary-color);
            }
        }
    }

    .other-option-link {
        margin-top: 15px;
        padding-bottom: 10px;
        display: block;
        font-size: 14px;
        text-align: center;
        a {
            margin-top: 15px;
            margin-inline-start: 5px;
            text-decoration: underline;
            color: var(--primary-color);
            font-size: 14px;
        }
    }
}

.auth-auth-container {
    .auth-auth-form {
        width: 500px;
    }

    .two-colums-input {
        width: 100%;
        // display: flex;
        // gap: 10px;

        .gap-between {
            width: 10px;
            display: inline-block;
        }

        mat-form-field {
            width: calc(50% - 5px) !important;
        }
    }
}

@media only screen and (max-width: 768px) {    
    .auth-auth-container {
        .auth-auth-form {
            width: 360px;
        }

        .two-colums-input {
            flex-direction: column;
        }
        .two-colums-input:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.field-icon {
    padding: 0 !important;
    font-size: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}