<div class="auth-auth-container">
    <div class="auth-auth-form">
        <div class="columns">
            <div class="logo">
                <img src="../../../assets/images/logo.png" alt="logo">
                <h2>نرم افزار واسط کلید</h2>
            </div>
            <div class="back">
                <a routerLink="/home">بازگشت</a>
            </div>
        </div>
        <div class="auth-title">
            <h3>ورود</h3>
            <p>نام کاربری و رمز عبور خود را وارد کنید</p>
            <br>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="block-field" appearance="outline">
                    <mat-label>آدرس ایمیل</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="loginControl('email')?.hasError('required') && validateForm">
                      این فیلد ضروریست
                    </mat-error>
                    <mat-error *ngIf="loginControl('email')?.hasError('email') && validateForm">
                      ایمیل نامعتبر است
                    </mat-error>
                    <mat-icon matSuffix class="field-icon icon-medium">person</mat-icon>                
                </mat-form-field>
                
                <mat-form-field class="block-field" appearance="outline">
                    <mat-label>رمز عبور</mat-label>
                    <input [type]="passwordVisible ? 'text' : 'password'" matInput formControlName="password">
                    <mat-error *ngIf="loginControl('password')?.hasError('required') && validateForm">
                        این فیلد ضروریست
                    </mat-error>
                    <mat-icon matSuffix class="field-icon icon-medium pointer" matRipple (mousedown)="passwordVisible = true" (mouseup)="passwordVisible = false">
                        <ng-container *ngIf="passwordVisible">visibility</ng-container>
                        <ng-container *ngIf="!passwordVisible">visibility_off</ng-container>
                    </mat-icon>                
                </mat-form-field>

                <button type="submit" matRipple class="primary-button block-button submit-button" [disabled]="loginLoading" [ngClass]="{'button-loading': loginLoading}">
                    <div class="button-content">ورود</div>
                </button>
                <button type="button" matRipple class="stroked-button block-button forget-password" nzBlock>فراموشی رمز عبور</button>
                <span class="other-option-link">حساب کاربری ندارید؟<a routerLink="/auth/register">ثبت نام</a></span>
                <a routerLink="register"></a>
            </form>
        </div>
    </div>
</div> 