<form [formGroup]="addProductForm">
    <div class="form-dialog-top-bar">
        <h3>ایجاد کالای جدید</h3>
        <button mat-ripple (click)="closeDialog()" class="icon-button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    
    <div class="form-dialog-content">
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>نوع کالا </mat-label>
                <mat-select formControlName="productType" name="productType">
                    <mat-option *ngFor="let productType of productTypes" [value]="productType.value">{{productType.display}}</mat-option>
                </mat-select>
                <mat-error *ngIf="addProductForm.get('productType')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>کد کالا</mat-label>
                <input type="number" matInput formControlName="code">
                <mat-error *ngIf="addProductForm.get('code')?.invalid && validationLastCheck">
                    <ng-container *ngIf="addProductForm.get('code')?.hasError('required')">
                        این فیلد الزامیست
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>نام کالا</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="addProductForm.get('name')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>شناسه کالا</mat-label>
                <input type="string" matInput formControlName="productCode">
                <mat-error *ngIf="addProductForm.get('productCode')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>قیمت</mat-label>
                <input type="number" matInput formControlName="price">
                <mat-error *ngIf="addProductForm.get('price')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>درصد ارزش افزوده</mat-label>
                <input type="number" matInput formControlName="taxPercent">
                <mat-error *ngIf="addProductForm.get('taxPercent')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>سایر وجود قانونی</mat-label>
                <input type="text" matInput formControlName="otherLegalFunds">
                <mat-error *ngIf="addProductForm.get('otherLegalFunds')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>درصد سایر وجود قانونی</mat-label>
                <input type="number" matInput formControlName="otherLegalFundsPercent">
                <mat-error *ngIf="addProductForm.get('otherLegalFundsPercent')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>سایر عوارض و مالیات</mat-label>
                <input type="text" matInput formControlName="otherTax">
                <mat-error *ngIf="addProductForm.get('otherTax')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>درصد سایر عوارض و مالیات</mat-label>
                <input type="number" matInput formControlName="otherTaxPercent">
                <mat-error *ngIf="addProductForm.get('otherTaxPercent')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
        </div>

    </div>
    
    <mat-dialog-actions class="form-dialog-footer">
      <button mat-ripple class="stroked-button" (click)="closeDialog()">لغو</button>
      <button [ngClass]="{'button-loading': addProductLoading}" mat-ripple class="primary-button" (click)="onAddProduct()">ایجاد</button>
    </mat-dialog-actions>
</form>