.form-dialog-top-bar {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid var(--border-color-light);

    h3 {
        padding: 5px;
    }
}

.form-dialog-field {
    width: 100%;
}

.form-dialog-field-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-dialog-footer {
    border-top: 2px solid var(--border-color-light);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

    button {
        width: 120px;
        max-width: 120px;
        min-width: 120px;
    }
}

.form-dialog-content {
    padding: 25px 10px 10px 10px;
    max-height: 80vh;
    overflow-y: auto;
}