:root {
    --white: #FFFFFF;
    --whitest-gray: #FAFAFA;
    --gray-light: #F5F7FA;
    --gray-background: #F1F2F6;
    --gray-pale: #DFE4EA;
    --snow: #F5F6F7;
    --fog: #EDEFF2;
    --pale-silver: #E8EBED;
    --gray-medium: #A4B0BE;
    --text-tertiary: #747D8C;
    --text-secondary: #555B6D;
    --text-primary: #2F3542;
    --bright-gray: #373D48;
    --black: #000000;
    --black-12: #00000012;
    --black-16: #00000016;
    --mariner: #008a77;
    --navy-blue: #008a77;
    --blue-primary: #008a77;
    --blue-pale: #b3dcd6;
    --blue-light: #b3d7d2;
    --blue-light: #b3d7d2;
    --red-error: #FF4757;
    --yellow-warning: #FFA502;
    --tangerine: #FFC969;
    --green-success: #2ED573;

    --red-negative: #B60E50;
    --green-positive: #008A77;

    --peanut-butter: #B17826;
    --jam: #8A1E12;
    --violet: #6267CB;
    --purple: #7142B2;
    --green-medium: #49B265;
}

body[theme='default'] {
    --primary-color:            var(--blue-primary);
    --secondary-color:          var(--blue-pale);
    --warn-color:               var(--yellow-warning);
    --info-color :              var(--mariner);
    --error-color:              var(--red-error);
    --success-color:            var(--green-success);
    --base-color:               var(--white);
    --base-opposite-color:      var(--black);
    --negative-color:           var(--red-negative);
    --positive-color:           var(--green-positive);

    // text
    --text-primary-color:                   var(--text-primary);
    --text-event-primary:                   var(--blue-primary);
    --text-secondary-color:                 var(--text-secondary);
    --text-tertiary-color:                  var(--text-tertiary);
    --text-disable-color:                   var(--gray-medium);
    --text-error-color:                     var(--red-error);
    --text-colorful-background:             var(--white);

    // input
    --input-border:              var(--gray-pale);
    --input-border-focus:        var(--blue-primary);
    --input-border-hover:        var(--blue-primary);
    --input-border-error:        var(--red-error);
    --input-background:          var(--base-color);
    --input-background-error:    color-mix(in srgb, var(--error-color), transparent percentage(1 - 0.05));
    --input-background-disable:  var(--gray-pale);
    --input-text-color-disable:  var(--gray-medium);
    --input-background-label:    var(--base-color);
    --input-placeholder:         var(--text-primary);
    --input-placeholder-disable: var(--gray-medium);

    // auto complete
    --auto-complete-hover:       var(--pale-silver);

    // select
    --select-background:        var(--snow);

    // elements
    --border-color-light:          var(--gray-light);
    --border-color-semi-light:     var(--gray-background);
    --border-color-medium:         var(--gray-pale);
    --border-color-strong:         var(--gray-medium);
    --background-color:            var(--gray-background);
    --background-color-light:      var(--gray-light);
    --background-color-dark:       var(--gray-medium);
    --background-color-inverse:    var(--text-primary);
    --background-color-zebra:      var(--whitest-gray);
    --selected-border-color:       var(--blue-primary);
    --selected-hover-color:        #004F9E15;
    --selected-background-color:   var(--blue-light);
    --hover-color:                 var(--snow);
    --keyboard-hover:              var(--pale-silver);
    --mouse-hover-data-entry:      var(--fog);

    // menu & header & drawer
    --header-background-color:   var(--text-primary);
    --header-text-color:         var(--base-color);
    --header-search-background:  #414A5C;
    --header-search-border:      #4E586E;
    --header-search-background-mobile:  #FAFBFC;
    --header-search-border-mobile:      #DFE4EA;
    --header-hover-color:        var(--bright-gray);
    --menu-background-color:     var(--blue-primary);
    --menu-text-color:           var(--base-color);
    --menu-text-hover:           var(--mariner);
    --mega-menu-press-link:      var(--navy-blue);
    --drawer-background-color:   var(--base-color);
    --drawer-features-background:var(--gray-light);
    --drawer-username-background:var(--text-secondary);

    // background
    --dialog-background-color:     var(--base-color);
    --overlay-background-color:    var(--base-color);
    
    // chip
    --chip-background:          var(--background-color);
    --filter-chip-background:   var(--background-color-light);

    // buttons
    --primary-button-text:         var(--base-color);
    --primary-button-hover:        color-mix(in srgb, var(--blue-primary), transparent percentage(1 - 0.8));
    --primary-button-background:   var(--blue-primary);

    // regular button
    --regular-button-text:         var(--blue-primary);
    --regular-button-hover:        var(--blue-light);
    --regular-button-background:   var(--base-color);

    // stroked button
    --stroked-button-text:         var(--blue-primary);
    --stroked-button-border:       var(--input-border);
    --stroked-button-hover:        var(--blue-light);
    --stroked-button-background:   var(--base-color);

    // error button
    --error-button-text:          var(--red-error);
    --error-button-hover:         setOpacity(var(--red-error), 0.8);

    // primary button with icon
    --primary-icon-button-text:  var(--blue-primary);
    --primary-icon-button-background:  var(--base-color);

    // icon button
    --icon-button-hover:         var(--blue-light);
    --icon-button-background:    var(--base-color);

    // close button
    --close-button-hover:        var(--blue-light);
    --close-button-background:   var(--base-color);

    // event calendar
    --calendar-event:    var(--jam);
    --system-event:      var(--green-medium);
    --personal-event:    var(--violet);

    // toasts
    --error-color-dark:        var(--jam);
    --warn-color-dark:         var(--peanut-butter);
    --success-color-dark:      var(--green-medium);

    // Scroll bar
    --scrollbar-width:         4px;
    --scrollbar-track:         var(--base-color);
    --scrollbar-thumb:         var(--gray-pale);
    --scrollbar-thumb-hover:   var(--gray-medium);

    --selected-toggle-button:  var(--base-color);

    // Icon color filters
    --icon-base:        invert(17%) sepia(14%) saturate(886%) hue-rotate(183deg) brightness(98%) contrast(89%);     // #2F3542, --text-primary-color
    --icon-medium:      invert(50%) sepia(30%) saturate(179%) hue-rotate(178deg) brightness(90%) contrast(89%);     // #57606F, --text-secondary-color
    --icon-light:       invert(81%) sepia(10%) saturate(417%) hue-rotate(172deg) brightness(88%) contrast(81%);     // #747D8C, --text-tertiary-color
    --icon-primary:     invert(61%) sepia(98%) saturate(4310%) hue-rotate(191deg) brightness(100%) contrast(101%);  // #1E90FF, --primary-color
    --icon-accent:      invert(96%) sepia(4%) saturate(195%) hue-rotate(187deg) brightness(104%) contrast(93%);    // #F1F2F6, --text-primary-color in DarkTheme
    --icon-white:       invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);    // #FFFFFF, --white
    --icon-green:       invert(48%) sepia(21%) saturate(4969%) hue-rotate(118deg) brightness(92%) contrast(87%);    // #10AA58, no-defined-color
    --icon-red:         invert(37%) sepia(62%) saturate(2112%) hue-rotate(330deg) brightness(102%) contrast(101%);  // #FF4757, --red-error

    // Code range preview colors
    --code-range-odd-background:  var(--tangerine);
    --code-range-even-background: var(--purple);

    // Shadow Colors
    --shadow-solid: var(--black-12);
    --shadow-strong: var(--black-16);

    // Box Shadows
    --base-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
