.content-topbar {
    gap: 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;

    h2 {
        font-size: 18px;
        font-weight: 400;
        color: var(--text-secondary-color);
        margin-bottom: 5px;
    }

    span {
        font-size: 13px;
        display: flex;
        align-items: center;

        mat-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            margin: 0 10px 0 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .content-topbar {
        flex-direction: column;
        align-items: start;
    }
}

.content-table {
    margin-top: 17px;
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    overflow-x: auto;
    background-color: var(--base-color);

    table {
        min-width: 500px;
        width: 100%;
        background-color: var(--base-color);

        & * {
            color: var(--text-primary-color);
        }
    }

    .table-action-buttons {
        display: flex;

        mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
        }
    }
}