/* You can add global styles to this file, and also import other style files */

// #region angular material
@use "@angular/material" as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
$permissions-primary: mat.define-palette(mat.$indigo-palette);
$permissions-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$permissions-warn: mat.define-palette(mat.$red-palette);
$permissions-theme: mat.define-light-theme((color: (primary: $permissions-primary,
                accent: $permissions-accent,
                warn: $permissions-warn,
            ),
        ));
@include mat.all-legacy-component-themes($permissions-theme);
// #endregion

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import url("assets/fonts/fonts.scss");

@import "./theme/buttons.scss";
@import "./theme/dialogs.scss";
@import "./theme/flexbox.scss";
@import "./theme/icon-color.scss";
@import "./theme/material.scss";
@import "./theme/reset.scss";
@import "./theme/typography.scss";
@import "./theme/variables.scss";

@import "./theme/theme-color/default-theme.scss";
@import "./theme/theme-color/dark-theme.scss";

body {
    color: var(--text-primary-color);
}

* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track) !important;

    &::-webkit-scrollbar {
        width: 10px !important;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track) !important;
    }

    &::-webkit-scrollbar-thumb {
        background-clip: padding-box !important;
        border: 3px solid transparent !important;
        background: var(--scrollbar-thumb) !important;
    }

    &::-webkit-scrollbar-thumb:hover {
        border: 0 !important;
        background: var(--scrollbar-thumb-hover) !important;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Vazirmatn, PeydaWeb, sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazirmatn, PeydaWeb, sans-serif !important;
}

a:any-link {
    color: var(--text-primary-color);
    text-decoration: none;
}

.monospace-number {
    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";
    letter-spacing: -0.5px;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.spacer {
    flex: 1 1 auto;
}

.main-container {
    padding: 0 1rem;
    margin: auto;
    width: 100%;
    max-width: 120rem;
}

.content-container {
    display: block;
    width: 100%;
    height: 100%;
}

.content-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.v-flip {
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
}

.h-flip {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.fully-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

html[dir="ltr"] .h-flip-ltr {
    transform: scaleX(-1);
}

mat-tab-group.custom-tab-group:not(.not-inherited) {
    mat-tab-header:not(.not-inherited *) {
        background-color: var(--background-color);
    }

    div[role="tab"][aria-selected="true"]:not(.not-inherited *) {
        background-color: var(--base-color);
    }

    .mat-mdc-tab-header {
        padding: 0;
        background-color: var(--base-color);
    }

    .mat-mdc-tab .mdc-tab-indicator__content--underline:not(.not-inherited *) {
        display: none !important;
    }

    .mat-mdc-tab-labels:not(.not-inherited *),
    .mat-tab-link:not(.not-inherited *) {
        font-size: 14px;
    }

    .mat-mdc-tab-labels:not(.not-inherited *),
    .mat-mdc-tab-labels {
        height: 40px !important;
    }

    .mat-tab-body-content:not(.not-inherited *) {
        overflow: hidden;
    }
}

mat-nav-list.mobile-buttons-nav-list {
    button[close-button] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2rem;
    }

    button[mat-list-item] {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--text-primary-color) !important;
        cursor: pointer;
    }

    button[disabled] {
        opacity: 0.4 !important;
        cursor: default !important;
    }

    .close-icon {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color-light);

        .close-icon-text {
            font-size: 12px;
            color: var(--text-secondary-color);
        }

        .icon-button {
            margin-inline-end: 0.5rem;
        }
    }
}

.circle-select {
    padding: 8px 12px;
    border-radius: 16px;
    background-color: var(--select-background);
}

.mat-tab-with-border {
    .mat-tab-labels {
        border-bottom: 1px solid var(--border-color-medium);
    }
}

.disable-opacity {
    opacity: 0.5 !important;
    cursor: default !important;
}

.hide-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.mobile-control-buttons {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
    flex-direction: row;
    background-color: var(--primary-color);
    box-shadow: 0px -2px 5px setOpacity(var(--base-opposite-color), 0.2);

    button {
        width: 50%;
        font-size: 0.75rem;
        color: var(--base-color);
        background-color: var(--primary-color);

        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }

    mat-divider {
        border-color: var(--base-color);
        opacity: 0.4;
        margin: 8px 0;
    }
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 64px;
    background-color: var(--chip-background) !important;
    color: var(--text-secondary-color) !important;
    font-size: 0.75rem !important;
    padding: 8px 12px;
    border-radius: 20px;
    outline: none;
    position: relative;
    white-space: nowrap;
    cursor: pointer;

    &.selected {
        color: var(--primary-color) !important;
        border: 1px solid var(--primary-color) !important;
        background-color: var(--selected-background-color) !important;
    }

    &.disabled {
        opacity: 0.4 !important;
        cursor: default !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }

    &:focus,
    &:focus-within,
    &:focus-visible {
        box-shadow: 0px 2px 4px 0px var(--shadow-strong) !important;
        -moz-box-shadow: 0px 2px 4px 0px var(--shadow-strong) !important;
        -webkit-box-shadow: 0px 2px 4px 0px var(--shadow-strong) !important;
    }
}

@media screen and (max-width: $tablet-break-point) {
    .desktop-control-buttons {
        display: none !important;
    }

    .mobile-control-buttons {
        display: flex !important;
    }
}

@media screen and (max-width: $mobile-break-point) {
    .main-container {
        padding: 0 0.5rem;
    }
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
    font-family: 'Material Icons Outlined' !important;
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
    font-family: 'Material Icons Two Tone' !important;
}

.material-icons-round,
.material-icons.material-icons--round {
    font-family: 'Material Icons Round' !important;
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
    font-family: 'Material Icons Sharp' !important;
}

.pointer {
    cursor: pointer;
}

.error-color {
    color: var(--error-color);
}

.skeleton {
    background: linear-gradient(90deg, var(--background-color), var(--background-color-light), var(--background-color));
    animation: leftToRight 1.5s infinite reverse;
    background-size: 200%;

    @keyframes leftToRight {
        0% {
            background-position: -100% 0;
        }

        100% {
            background-position: 100% 0;
        }
    }
}